// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Montserrat', sans-serif;
$font-family-condensed: 'IBM Plex Sans Condensed', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #003583;
$red: #D80012;
$yellow: #FFD400;
$gray1: #FAFAFA;
$gray2: #D9D9D9;
$gray3: #DBDBDB;
$white: #FFFFFF;
