// Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500,700');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html, body {
    background-color: #fff;
    color: $blue;
    font-family: $font-family-sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.red {
    color: $red;
}
.halfbold {
    font-weight: 500;
}
.bold {
    font-weight: 700;
}

.invalid-feedback {
    font-size: 14px;
}

.container {
    margin: 50px auto;
    max-width: 1210px;
}

section {
    padding-bottom: 130px;
    border-bottom: solid 1px $gray3;
}

a {
    text-decoration: underline;
}
a:hover {
    text-decoration: none;
}

h1 {
    text-align: left;
    font-size: 32px;
    margin-bottom: 35px;
}
p {
    font-size: 16px;
}
p.message {
    font-size: 24px;
    margin-top: 50px;
}
strong {
    font-weight: 700;
}

section.before {
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-size: 24px;
    padding-bottom: 50px;
}
section.before a {
    color: $red;
}
section.before p {
    font-size: 24px;
    line-height: 32px;
}
section.before p.small {
    font-size: 16px;
    font-weight: 300;
}
section.before .logo {
    margin: 20px 0 70px 0;
}
section.before ul {
    list-style: none;
    margin: 20px 0 20px 0;
    padding: 0;
}
section.before li {
    line-height: 32px;
}
section.before .btn {
    text-decoration: none;
    text-transform: uppercase;
    color: $white;
    background-color: $red;
    padding: 15px 25px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 40px;
    margin: 20px 0 50px 0;
}

section.header {
    margin-top: 50px;
    background: url('/images/grafika_01.svg') no-repeat right bottom;
}
section.group.group1 {
    background: url('/images/grafika_02.svg') no-repeat right bottom;
}
section.group.group2 {
    background: url('/images/grafika_03.svg') no-repeat right bottom;
}
section.group.group3 {
    background: url('/images/grafika_04.svg') no-repeat right bottom;
}
section.group.group4 {
    background: url('/images/grafika_05.svg') no-repeat right bottom;
}
section.group.group5 {
    background: url('/images/grafika_06.svg') no-repeat right bottom;
}
section.group.group6 {
    background: url('/images/grafika_02.svg') no-repeat right bottom;
}
section.group.group7 {
    background: url('/images/grafika_03.svg') no-repeat right bottom;
}

section.header.results {
    padding-bottom: 90px;
}
section.header.results h1 {
    margin-bottom: 100px;
}
section.header p {
    font-weight: 300;
    font-size: 24px;
    text-align: left;
}

section.header p strong {
    font-weight: 700;
}

section.header .logo {
    margin-bottom: 70px;
}
section.header .logo img {
    float: right;
}

section.group h2 {
    margin-top: 30px;
    color: $red;
    font-size: 32px;
    font-weight: 700;
}
section.group ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
section.group li {
    display: block;
    background: $gray1 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 5px $gray2;
    padding: 24px;
    margin-top: 20px;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
}
section.group.results li {
    cursor: default;
}
section.group li p {
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    margin: 5px 0 0 35px;
}
section.group.results li p {
    margin: 5px 0 0 10px;
}
section.group li p strong {
    font-size: 16px;
    font-weight: 700;
}
section.group li p small {
    font-size: 14px;
    font-weight: 300;
    display: block;
    margin-top: 10px;
}

section.group li .radio {
    float: left;
}
section.group .radio div {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid $blue;
    background-color: $white;
    border-radius: 10px;
    position: relative;
    top: 3px;
    cursor: pointer;
}
section.group li:not(.selected):hover .radio div, section.group li.selected .radio div {
    background-color: $blue;
}
section.group li.selected .radio div::before {
    display: block;
    position: absolute;
    content: '';
    top: 0;
    left: 6px;
    border-bottom: solid 3px $yellow;
    border-right: solid 3px $yellow;
    width: 10px;
    height: 15px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Safari prior 9.0 */
    transform: rotate(45deg); /* Standard syntax */
}
section.group .row .radio label {
    text-transform: uppercase;
    color: $blue;
    font-weight: 700;
}
section.group .row .radio.selected label {
    color: $red;
}
section.group .row .radio.selected div {
    border: 1px solid $red;
    background-color: $red;
}
section.group .row .radio:not(.selected):hover div {
    border: 1px solid $blue;
    background-color: $blue;
}
section.group .row .radio.selected div::before {
    display: block;
    position: absolute;
    content: '';
    top: 0;
    left: 6px;
    border-bottom: solid 3px $white;
    border-right: solid 3px $white;
    width: 10px;
    height: 15px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Safari prior 9.0 */
    transform: rotate(45deg); /* Standard syntax */
}

section.group .row .radio {
    margin-top: 35px;
}
section.group .row .radio label {
    margin-right: 10px;
}
section.group:not(.results) li:hover {
    box-shadow: none;
}
section.group li.selected {
    background-color: $yellow;
    box-shadow: none;
}
section.group li.selected .radio label {
    display: inline;
}
section.group .radio input[type="radio"] {
    display: none;
}
section.group .form {
    margin-top: 50px;
}

section.form h2 {
    margin: 30px 0 50px 0;
    font-size: 32px;
    font-weight: 700;
}
section label {
    margin-left: 20px;
    font-size: 16px;
    font-weight: 700;
}
section input.form-control {
    background: $gray1 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 10px $gray2;
    padding: 0 20px 0 20px;
    height: 60px;
    width: 90%;
    border: none;
    color: $blue;
    font-size: 16px;
    border-radius: 20px;
}
section.group .form input.form-control {
    width: 100%;
}
section.form input#fname {
    border-radius: 20px 0 0 20px;
}
section.form input#email {
    border-radius: 0 20px 20px 0;
}
section.form button {
    background: $red 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 10px $gray2;
    border-radius: 20px;
    border: none;
    padding: 20px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    width: 90%;
}
section.form button:hover {
    background: $red 0% 0% no-repeat padding-box;
}

section.form .form-check input[type="checkbox"] {
    display: none;
}
section.form .form-check div {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid $blue;
    background-color: $white;
    border-radius: 4px;
    position: relative;
    top: 3px;
    cursor: pointer;
    float: left;
}
section.form .form-check.selected div {
    background-color: $blue;
}
section.form .form-check.selected div::before {
    display: block;
    position: absolute;
    content: '';
    top: 0;
    left: 8px;
    border-bottom: solid 3px $white;
    border-right: solid 3px $white;
    width: 10px;
    height: 15px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Safari prior 9.0 */
    transform: rotate(45deg); /* Standard syntax */
}
section.form .form-check label {
    margin-left: 40px;
    margin-top: -23px;
}

section.archive h2 {
    margin: 150px 0 90px 0;
}
section.archive ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
section.archive ul li {
    float: left;
    margin-right: 70px;
}
section.archive ul li a {
    font-size: 32px;
    text-decoration: none;
}
section.archive ul li a.selected {
    font-weight: bold;
}
section.archive ul li a.selected, section.archive ul li a:hover {
    color: #d80012;
}

section.footer {
    font-weight: 300;
    font-size: 16px;
    text-align: center;
    border-bottom: none;
    padding-bottom: 50px;
}
section.footer img {
    margin: 50px 0 90px 0;
}

@media (min-width: 1200px) {
    section.group li:nth-child(5), section.group li:nth-child(10) {
        margin-right: 0;
    }
}
@media (max-width: 992px) {
    .container {
        margin-top: 20px;
    }
    section.header {
        background-size: 160px;
        padding-bottom: 130px !important;
    }
    section.header .logo img {
        float: none;
    }
}
