section.header.results h1 {
    text-transform: uppercase;
    font-size: 60px;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 20px;
}

section textarea.form-control {
    background: #fafafa 0 0 no-repeat padding-box;
    box-shadow: 0 6px 10px #d9d9d9;
    padding: 15px 20px;
    height: 100px;
    width: 90%;
    border: none;
    color: #003583;
    font-size: 16px;
    border-radius: 20px;
}

.invitation .first {
    font-size: 54px;
    line-height: 64px;
    font-weight: 400;
}
.invitation .second {
    margin-top: 100px;
    font-size: 82px;
    line-height: 82px;
    font-weight: 900;
    color: #d80012;
}
.invitation .second strong {
    font-size: 54px;
    line-height: 64px;
    color: #003583;
}
.invitation .third {
    margin-top: 100px;
    font-size: 36px;
    line-height: 42px;
    font-weight: 400;
}
.invitation .third strong {
    font-size: 48px;
}
